<div class="about">
	<div class="about-img"><img src="/images/personal_image.jpg" /></div>
	<div class="about-text">
	Hello everyone my name is Smit Mandavia and I am from India.
	Basically, I have done B-tech in computer science. 
	As now on I am pursuing Artificial-Intelligence course in Centennial-collage Canada.
	As I am very much interested in coding and also, I have good hands in C, C++, Java.
	Although  I have much knowledge in Web Application like Html, CSS, AngularJS, Nodejs, React. Find my
	resume <a href="/docs/Resume.pdf">here</a>.
	</div>
</div>