<div class="contact">
	<div class="contact-top">
		<h4>Reach me</h4>
		☏ +91-8200807232 <br /> 
		✉ smitmandavia@gmail.com <br />
		<a href="https://www.facebook.com/smit.parmer" target="_blank">Facebook</a>  <br />
		<a href="https://www.instagram.com/smitmandavia" target="_blank">Instagram</a>  <br />
	</div>
	
	<div class="contact-bottom">
		<form class="contact-form" method="POST" action="/contact_submission/">
			<h4>Contact</h4>
			<input name="first-name" class="contact-form-inp" type="text" placeholder="Enter first name">
			<input name="last-name" class="contact-form-inp" type="text" placeholder="Enter last name">
			<input name="contact" class="contact-form-inp" type="tel" placeholder="Contact number">
			<input name="email" class="contact-form-inp" type="email" placeholder="Email">
			<input name="message" class="contact-form-inp" type="text" placeholder="Message">
			<button type="submit" class="contact-form-submit-btn">Submit</button>
		</form>
	</div>
</div>