<div class="projects">
	<section>
	<u><h1>Hertz Health</h1></u>
	<h2><img src="/images/health.jpg" class="project_1_img"/>I have always enjoyed working on the Internet Of Things and Machine Learning. For my final year project, I have created an application called "The Herz Health ''. I was accompanied by two other members. It is a Heart Health application where we are implementing heart rate monitoring and heart attack recognition systems using IoT and ECG sensors using Android studio.<h2>
	</section>
	<br />
	<section>
	<u><h1>My Portfolio</h1></u>
	<h2><img src="/images/logo.png" class="project_1_img"/>I have created  a my portfolio site using the latest web technology like NodeJS and ExpressJS/MVC. This site includes my personal data as well as my qualification and what I am capable to do it with other sources and projects.<h2>
	</section>
</div>