<div class="services">
	<div class="services-internal">
		<div class="service">
			<div class="service-img">
				<img src="/images/java.svg">
			</div>
			<div class="service-text">
				Develop Projects in Java
			</div>
		</div>
		<div class="service">
			<div class="service-img">
				<img src="/images/apps.svg">
			</div>
			<div class="service-text">
				Make Full Stack Application on an Android Platform.
			</div>
		</div>
		<div class="service">
			<div class="service-img">
				<img src="/images/c++.svg">
			</div>
			<div class="service-text">
				Make Projects on C and C++ Language.
			</div>
		</div>
	</div>
</div>