<!DOCTYPE html>
<html lang="en">
<head>
    <!-- All code containing title, stylesheet link, etc. -->
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <!-- Contains navigation bar -->
    <%- include('../partials/header', {"currentMenu": "about"}); %>
</header>

<main>
    <%- include('../partials/about'); %>
</main>

</body>
</html>