<!DOCTYPE html>
<html lang="en">
<head>
    <!-- All code containing title, stylesheet link, etc. -->
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <!-- Contains navigation bar -->
    <%- include('../partials/header', {"currentMenu": "contact"}); %>
</header>

<main>
	 <%- include('../partials/contact'); %>
</main>
</body>
</html>